<main>
    <div class="">
        <div class="">
        <h3> Nova Turma: </h3>
            <div class="">
                <div class="">
                    <form action="/rota_autor/autor/novo" method="POST">

                    <label for="nomeA">Nome: </label>
                    <input type="text" id="nomeA" name="nomeA" >
        
                    <button type="submit">Cadastrar Autor(a)</button>

                    </form>
                </div>
            </div>
        </div>
    </div>
</main>